<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>История</title>
    {% load static %}
    <link href="{% static 'containerstatuses/style.css' %}" rel="stylesheet">
    <script src="{%  static 'containerstatuses/bfuversion.js' %}?v=002"></script>
  </head>

  <body>

    <div id="container_statuses" style="width: 90%; margin: auto;">
      <h1 class="h01" id="name_ext" name_ext="{{ name_ext }}">История статусов транспортного контейнера {{ tc.ВнутреннийНомер }}, {{ tc.Номер }} от {{ tc.Дата }}</h1>
      <div style="display: flex; width: 100%; ">
        <div class="themed-grid-col-header w10 tacntr" >Период</div>
        <div class="themed-grid-col-header w8 tacntr" >№ по данным перевозчика</div>
        <div class="themed-grid-col-header w12 tacntr" >Товар / поставщик</div>
        <div class="themed-grid-col-header w10 tacntr" >Номер контейнера</div>
        <div class="themed-grid-col-header w10 tacntr" >Пункт назначения</div>
        <div class="themed-grid-col-header w15 tacntr" >Статус поставки</div>
        <div class="themed-grid-col-header w5 tacntr" >Расчетная неделя прибытия на таможню</div>
        <div class="themed-grid-col-header w10 tacntr" >Получатель</div>
        <div class="themed-grid-col-header w10 tacntr" >Стоимость фрахта</div>
      </div>

      {% for cs in hystory %}
      <div id="container_row" class="themed-grid-row w100 curpoint" onclick="onTransportContainerClick('{{ cs.ТранспортныйКонтейнер }}')" transportcontainer="{{ cs.ТранспортныйКонтейнер }}">
        <div class="themed-grid-col-row w10 tacntr" >{{ cs.Период }}</div>
        <div class="themed-grid-col-row w8 tacntr" >{{ cs.НомерПоДаннымПеревозчика }}</div>
        <div class="themed-grid-col-row w12 tacntr" >{{ cs.ТоварПоставщик }}</div>
        <div class="themed-grid-col-row w10 tacntr" >{{ cs.НомерКонтейнера }}</div>
        <div class="themed-grid-col-row w10 tacntr" >{{ cs.ПунктНазначения }}</div>
        <div class="themed-grid-col-row w15 " >{{ cs.СтатусПоставки }}</div>
        <div class="themed-grid-col-row w5 tacntr" >{{ cs.РасчетнаяНеделяПрибытияНаТаможню }}</div>
        <div class="themed-grid-col-row w10 tacntr" >{{ cs.Получатель }}</div>
        <div class="themed-grid-col-row w10 tacntr" >{{ cs.СтоимостьФрахта }} {{ cs.Валюта }}</div>
      </div>
      {% endfor %}
    </div>






   <a href="/" id="main_menu" class="w100" style="display: block; font-size: 1.25rem; margin: auto; padding: 1rem; margin-top: 2%; text-decoration: none; text-align: center; width: 50%; color: #fff; background-color: #0d6efd; border-radius: 0.5rem;">Главное меню</a>
</body>
</html>
