<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Состояние контейнеров</title>
    {% load static %}
    {% load static %}
    <link href="{% static 'containerstatuses/style.css' %}" rel="stylesheet">
    <script src="{%  static 'containerstatuses/script.js' %}?v=005"></script>
    <script src="{%  static 'containerstatuses/bfu.js' %}?v=001"></script>
  </head>

  <body>

  <script>
    var container_statuses_h = '{{ container_statuses_h }}';
  </script>
    <div class="flex">
      <h1 class="h01">Состояние контейнеров</h1>
      <div id="history_tc" class="flex curpoint hidden" onclick="onClickHistoryTc();">
        <img src="{%  static 'containerstatuses/history.png' %}" alt="" style="width: 2.5em; margin-left: 1em;">
      </div>
      {% if cu.container_statuses_edit_enabled %}
      <div id="edit_tc" class="flex curpoint hidden" onclick="onClickEditTc();">
        <img src="{%  static 'containerstatuses/edit.png' %}" alt="" style="width: 2.5em; margin-left: 1em;">
      </div>
      {% else %}
      <div id="edit_tc" class="flex curpoint hidden">
      </div>
      {% endif %}
    </div>

    <div id="container_statuses" style="max-height: 50vh; overflow-y: scroll; overflow-x: hidden;">
      <div style="display: flex; width: 100%; ">
        <div class="themed-grid-col-header w12 tacntr" >Период</div>
        <div class="themed-grid-col-header w8 tacntr" >№ по данным перевозчика</div>
        <div class="themed-grid-col-header w10 tacntr" >Внутренний №</div>
        <div class="themed-grid-col-header w10 tacntr" >Товар / поставщик</div>
        <div class="themed-grid-col-header w10 tacntr" >Номер контейнера</div>
        <div class="themed-grid-col-header w10 tacntr" >Пункт назначения</div>
        <div class="themed-grid-col-header w15 tacntr" >Статус поставки</div>
        <div class="themed-grid-col-header w5 tacntr" >Расчетная неделя прибытия на таможню</div>
        <div class="themed-grid-col-header w10 tacntr" >Получатель</div>
        <div class="themed-grid-col-header w10 tacntr" >Стоимость фрахта</div>
      </div>

      {% for cs in container_statuses %}
      <div id="container_row" class="themed-grid-row w100 curpoint" onclick="onTransportContainerClick('{{ cs.ТранспортныйКонтейнер }}')" transportcontainer="{{ cs.ТранспортныйКонтейнер }}">
        <div id="pic_{{ cs.ТранспортныйКонтейнер }}" class="themed-grid-col-row w2 tacntr" >
          {% if cs.ЕстьФайлы %}
          <img src="{%  static 'attach.svg' %}" alt="" style="width: 1em;">
          {% endif %}
        </div>
        <div id="tc_period" class="themed-grid-col-row w10 tacntr" >{{ cs.Период }}</div>
        <div id="tc_deliverer_number" class="themed-grid-col-row w8 tacntr" >{{ cs.НомерПоДаннымПеревозчика }}</div>
        <div id="tc_internal_number" class="themed-grid-col-row w10 tacntr" >{{ cs.ВнутреннийНомер }}</div>
        <div id="tc_product_supplier" class="themed-grid-col-row w10 tacntr" >{{ cs.ТоварПоставщик }}</div>
        <div id="tc_container_number" class="themed-grid-col-row w10 tacntr" >{{ cs.НомерКонтейнера }}</div>
        <div id="tc_destination" class="themed-grid-col-row w10 tacntr" >{{ cs.ПунктНазначения }}</div>
        <div id="tc_status" class="themed-grid-col-row w15 " >{{ cs.СтатусПоставки }}</div>
        <div id="tc_planned_arrival_week" class="themed-grid-col-row w5 tacntr" >{{ cs.РасчетнаяНеделяПрибытияНаТаможню }}</div>
        <div id="tc_recipient" class="themed-grid-col-row w10 tacntr" >{{ cs.Получатель }}</div>
        <div id="tc_freight_cost" class="themed-grid-col-row w10 tacntr" >{{ cs.СтоимостьФрахта }} {{ cs.Валюта }}</div>
      </div>
      {% endfor %}
    </div>

    <div id="containers_files" style="display: flex; width: 100%;" >
      <div id="containers" style="float: left; width: 30%;" >
        <h1 class="h01">Контейнеры</h1>
        <div style="max-height: 25vh; overflow-y: scroll; overflow-x: hidden;">
          <div style="display: flex; width: 100%; ">
            <div class="themed-grid-col-header w50 tacntr" >Контейнер</div>
            <div class="themed-grid-col-header w50 tacntr" >Комментарий</div>
          </div>
          <div id="containers_table">

          </div>
        </div>
    </div>

      <div id="files" style="float: left; width: 70%;">
        <div class="flex">
          <div id="add_file" class="flex curpoint" style="display: none;" onclick="document.querySelector('.inputFile').click();">
            <img src="/static/plus.svg" alt="" style="width: 2em; margin-top: .3em;" >
            <h1 class="h01" id="procent"></h1>
            <input id="inputFile" multiple class="inputFile" onchange="onSelectFile(event)" type="file" style="display: none;">
            <input id="exchange_id" type="text" value="" style="display: none;">
          </div>
          <h1 class="h01" id="file_header">Файлы</h1>
          <div id="zip_file" class="flex curpoint" style="display: none;" onclick="zipFile();">
            <img src="/static/zip.png" alt="" style="width: 2em; margin-top: .3em;" >
          </div>
        </div>
        <div style="max-height: 25vh; overflow-y: scroll; overflow-x: hidden;">
          <div style="display: flex; width: 100%; ">
            <div class="themed-grid-col-header w50 tacntr" >
              Имя файла</div>
            <div class="themed-grid-col-header w10 tacntr" >Автор</div>
            <div class="themed-grid-col-header w10 tacntr" >Дата создания</div>
            <div class="themed-grid-col-header w30 tacntr" >Описание</div>
          </div>
          <div id="files_table" >

          </div>
        </div>
      </div>
    </div>


<!-- ТоварПоставщик, НомерКонтейнера, ПунктНазначения, СтатусПоставки, "
 #       + "РасчетнаяНеделяПрибытияНаТаможню, Получатель, СтоимостьФрахта, Валюта, ПроцентОплаты, Перевозчик, ПунктЗагрузки, СтанцияОтправления, "
 #       + "ОтгрузкаСоСкладаПоставщика, ВыходСоСтанцииИзПорта, ВПортПерегрузаНаГраницу, ОтГраницыРф, ПриходВПунктНазначения, ПриходНаСклад
 -->

    <a href="/" id="main_menu" class="w100 warning-btn" style="display: block; margin: auto; margin-top: 2%; width: 50%; ">Главное меню</a>

    <div class="b-popup hidden" id="popupet" >
      <div class="b-popup-content">
        <div class="row">
          <h1 id="tc_edit_header" style="width: fit-content;">Статус: </h1>
          <h1 style="width: fit-content;"id="editidname"></h1>
        </div>
        <div class="fs20">
          <div>
            <label for="">Период</label>
            <input readonly class="fs20 mb1" type="datetime" id="tc_edit_period">
          </div>
          <div>
            <label for="">№ по данным перевозчика</label>
            <input type="text" class="fs20 mb1" id="tc_edit_deliverer_number" value="">
          </div>
          <div>
            <label for="">Товар / поставщик</label>
            <input type="text" class="fs20 w70 mb1" id="tc_edit_product_supplier" value="">
          </div>
          <div>
            <label for="">Номер контейнера</label>
            <input type="text" class="fs20 mb1" id="tc_edit_container_number" value="">
          </div>
          <div>
            <label for="">Пункт назначения</label>
            <input type="text" class="fs20 w70 mb1" id="tc_edit_destination" value="">
          </div>
          <div>
            <label for="">Статус поставки</label>
            <input type="text" class="fs20 w70 mb1" id="tc_edit_status" value="">
          </div>
          <div>
            <label for="">Расчетная неделя прибытия на таможню</label>
            <input type="number" class="fs20 mb1" id="tc_edit_planned_arrival_week" value="">
          </div>
          <div>
            <label for="">Получатель</label>
            <input type="text" class="fs20 mb1" id="tc_edit_recipient" value="">
          </div>
          <div>
            <label for="">Стоимость фрахта</label>
            <input type="number" class="fs20 w20 mb1" id="tc_edit_freight_cost" value="">
            <label for="">Валюта фрахта</label>

            <input type="search" class="fs20 w20" id="tc_edit_freight_currency" list="currencies" class="form-control" autocomplete="false" placeholder="Валюта...">
            <datalist class="mx-0 shadow" style="width: 220px;" id="currencies">
                {% for elc in currencies %}
                <option value="{{ elc.name }}" data-code="{{ elc.code }}"></option>
                {% endfor %}
            </datalist>
          </div>
        </div>
        <div class="row pb-3 ps-3 pe-3" style="padding-bottom: 1%; width: 97%; position: absolute; top: 100%; transform: translate(0, -100%); display: flex; justify-content: space-between">
          <button class="w-25 success-btn" onclick="saveStatus()">Сохранить</button>
          <button class="w-25 warning-btn" onclick="document.querySelector('#popupet').classList.add('hidden')">Закрыть</button>
        </div>
      </div>
    </div>
  


  </body>
</html>
