<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блок-схема</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    {% load static %}
    <link href="{% static 'bs/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bs/flowy.min.css' %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="{% static 'bs/flowy.min.js' %}"></script>
    <script src="{% static 'bs/main.js' %}"></script>   
</head>
<body>
    <div id="navigation">
        <div id="leftside">
            <div id="details">
            <div id="back"><img src="{% static 'bs/arrow.svg' %}"></div>
            <div id="names">
                <p id="title">Блок-схема</p>
                <p id="subtitle">{{ bso.id1c }}</p>
                 <p id="acck" style="display: none;">{{ access_key }}</p>
           </div>
        </div>            
        </div>
        <div id="centerswitch" style="display: none;">
            <div id="leftswitch">Diagram view</div>
            <div id="rightswitch">Code editor</div>
        </div>
        <div id="buttonsright">
            <div id="discard">Очистить</div>
            <div id="publish" onclick="onPublish()">Сохранить</div>
        </div>
    </div>
    <div id="leftcard">
        <div id="closecard">
            <img src="{% static 'bs/closeleft.svg' %}">
        </div>
        <p id="header">Блоки</p>
        <div id="search" style="display: none;">
            <img src="{% static 'bs/search.svg' %}">
            <input type="text" placeholder="Search blocks">
        </div>
        <div id="subnav" style="display: none;">
            <div id="triggers" class="navactive side" style="display: none;">Узлы</div>
            <div id="actions" class="navdisabled side" style="display: none;">Действия</div>
            <div id="loggers" class="navdisabled side">Узлы</div>
        </div>
        <div id="blocklist">
            <div class="blockelem create-flowy noselect">
                <input type="hidden" name="blockelemtype" class="blockelemtype" value="1">
                <div class="grabme">
                    <img src="{% static 'bs/grabme.svg' %}">
                </div>
                <div class="blockin">
                    <div class="blockico">
                        <span></span>
                        <img src="{% static 'bs/eye.svg' %}">
                    </div>
                    <div class="blocktext">
                        <p class="blocktitle editblocktitle">Новый этап</p>
                        <p class="blockdesc">Этап приготовления блюда</p>
                    </div>
                </div>
            </div>
            <div class="blockelem create-flowy noselect"><input type="hidden" name="blockelemtype" class="blockelemtype"
                    value="2">
                <div class="grabme"><img src="{% static 'bs/grabme.svg' %}"></div>
                <div class="blockin">
                    <div class="blockico"><span></span><img src="{% static 'bs/action.svg' %}"></div>
                    <div class="blocktext">
                        <p class="blocktitle">Новое действие</p>
                        <p class="blockdesc">Действие по приготовлению</p>
                    </div>
                </div>
            </div>
            <div class="blockelem create-flowy noselect"><input type="hidden" name="blockelemtype" class="blockelemtype"
                    value="3">
                <div class="grabme"><img src="{% static 'bs/grabme.svg' %}"></div>
                <div class="blockin">
                    <div class="blockico"><span></span><img src="{% static 'bs/time.svg' %}"></div>
                    <div class="blocktext">
                        <p class="blocktitle">Время</p>
                        <p class="blockdesc">Время ожидания</p>
                    </div>
                </div>
            </div>
            <div class="blockelem create-flowy noselect"><input type="hidden" name="blockelemtype" class="blockelemtype"
                    value="4">
                <div class="grabme"><img src="{% static 'bs/grabme.svg' %}"></div>
                <div class="blockin">
                    <div class="blockico"><span></span><img src="{% static 'bs/error.svg' %}"></div>
                    <div class="blocktext">
                        <p class="blocktitle">Ошибка</p>
                        <p class="blockdesc">Сообщение об ошибке</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="propwrap">
        <div id="properties">
            <div id="close">
                <img src="{% static 'bs/close.svg' %}">
            </div>
            <p id="header2">Свойства</p>
            <p class="blocktitle"><b>Заголовок</b><br>
            <input id="inputblocktitle" class="blocktitle" type="text" style="width: 90%;" onchange="onInputBlockTitle()">
            </p>
            <p class="blockdesc">Описание<Br>
            <textarea id="inputblockdesc" class="blockdesc" name="comment" rows="3" style="width: 90%;" onchange="onInputBlockDesc()"></textarea></p>
              
            <div id="propswitch" style="display: none;">
                <div id="dataprop">Данные</div>
                <div id="alertprop">Сообщения</div>
                <div id="logsprop">Журналы</div>
            </div>
            <div id="proplist" style="display: none;">
                <p class="inputlabel">Select database</p>
                <div class="dropme">Database 1 <img src="{% static 'bs/dropdown.svg' %}"></div>
                <p class="inputlabel">Check properties</p>
                <div class="dropme">All<img src="{% static 'bs/dropdown.svg' %}"></div>
                <div class="checkus"><img src="{% static 'bs/checkon.svg' %}"><p>Log on successful performance</p></div>
                <div class="checkus"><img src="{% static 'bs/checkoff.svg' %}"><p>Give priority to this block</p></div>
            </div>
            <div id="divisionthing"></div>
            <div id="removeblock" style="display: none;">Delete blocks</div>
        </div>
    </div>
    <div id="canvas">
    </div>

    <style>
      .b-popup{
      width:100%;
      height:100%;
      background-color: rgba(0,0,0,0.5);
      overflow:hidden;
      position:fixed;
      top:0px;
      }
      .b-popup .b-popup-content{
          margin:140px auto 0px auto;
          width:50%;
          height: 50%;
          padding:10px;
          background-color: #c5c5c5;
          border-radius:5px;
          box-shadow: 0px 0px 10px #000;
          position: relative;
      } 
    </style>    
    <div class="b-popup" id="popupet" style="display: none;" >
        <div class="b-popup-content">
          <div class="row" style="display: none;" >
            <h1 style="width: fit-content;">Файл: </h1>
            <h1 style="width: fit-content;"id="editidname"></h1>
          </div>
          <div style="width: 100%; height: 80%;">
            <textarea id="edittext" style="width: 100%; height: 100%; resize: none;"></textarea>
          </div>
          <div class="row pb-3 ps-3 pe-3" style="width: 100%; position: absolute; top: 100%; transform: translate(0, -100%); display: flex; justify-content: space-between">
            <button class="w-25  btn btn-lg btn-success" onclick="saveFile()">Сохранить</button>
            <button class="w-25 btn btn-lg btn-primary" onclick="$('#popupet').hide()">Закрыть</button>
          </div>
        </div>
      </div>
   


    <script>
        onload();
     </script>
</body>
</html>