<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{%  static 'bootstrap.min.css' %}">
    <script src="{%  static 'jquery.js' %}"></script>
    <script src="{% static 'create.js' %}"></script>
    <title>Рецепты</title>
</head>
<body>

    <style>
        .themed-grid-col {
          padding-top: .75rem;
          padding-bottom: .75rem;
          background-color: rgba(86, 61, 124, .15);
          border: 1px solid rgba(86, 61, 124, .2);

        }

        .themed-grid-col-row {
          padding-top: .3rem;
          padding-bottom: .3rem;
          background-color: rgba(249, 236, 197, .5);
          border: 1px solid rgba(249, 236, 197, 1);

        }


    </style>

        <div class="container py-3" style="max-width: 95%">

        {% if orders %}
            <h1>Заявки на рецепт</h1>
            <div class="row">
              <div class="col-2 themed-grid-col" style="text-align: center">Дата</div>
              <div class="col-10 themed-grid-col" style="text-align: center">Контрагент / Продукция, № цвета / Количество / Комментарий</div>
            </div>

          {% for el in orders %}

            <div class="row">
              <div class="col-2 themed-grid-col-row" style="text-align: center">{{ el.created }}</div>
              <div class="col-9 themed-grid-col-row">{{ el.contractor.name }} / {{ el.end_product.name }} {{ el.end_product_text }}  {{ el.color_number }} / {{ el.quantity }} / {{ el.comments }}</div>
              <a href="../add_recipe?orderid={{ el.id1c }}" class="col-1 themed-grid-col-row" style="text-align: center">Создать рецепт...</a>
            </div>

          {% endfor %}

        {% else %}
            <h3 class="text-center" style="font-size: 2rem;">Нет заказов на рецепт</h3>
        {% endif %}








        <h1>Рецепты</h1>
        <div class="row mb-12" style="margin-bottom: 0.5%">
            <a href="../add_recipe" id="create" class="btn btn-success" style="font-size: 1.5rem; width: 90%">Добавить</a>
        </div>
        {% if elements %}

            {% if elements_to_send %}
                <div class="row mb-3">
                    <a href="#" onclick="sendto1c_recipe('all')" id="checkout_order" class="btn btn-success" style="font-size: 1.5rem; width: 100%">Отправить все</a>
                </div>
            {% endif %}

            <div class="row mb-3">
              <div class="col-3 themed-grid-col" style="text-align: center">Дата</div>
              <div class="col-7 themed-grid-col" style="text-align: center">Контрагент / № цвета / Комментарий</div>
              <div class="col-2 themed-grid-col" style="text-align: center">есть 1с</div>
            </div>

           {% for el in elements %}

            <div class="row mb-3">
              <div class="col-3 themed-grid-col">{{ el.created }}</div>
              <div class="col-7 themed-grid-col" onclick="location = '../view_recipe?id={{ el.id1c }}'" style="cursor: pointer;">{{ el.contractor.name }} / {{ el.color_number }} / {{ el.comments }} </div>
              <div id="{{ el.id1c }}" class="col-2 themed-grid-col">
                  {% if el.delivered1c %}
                      Да
                  {% else %}
                      <a href="#" onclick="sendto1c_recipe('{{ el.id1c }}')" id="checkout_order" class="btn btn-success" style="font-size: 1.5rem; width: 100%">Отправить</a>
                  {% endif %}
              </div>
            </div>

            {% endfor %}

        {% else %}
            <h3 class="text-center" style="font-size: 2rem;">Нет рецептов</h3>
        {% endif %}
            <div class="container py-3 col-6">
                <a href="/" id="main_menu" class="w-100 btn btn-lg btn-primary" style="font-size: 2rem; ">Главное меню</a>
            </div>

    </div>


</body>
</html>