<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{%  static 'bootstrap.min.css' %}">
    <script src="{%  static 'jquery.js' %}"></script>
    <script src="{% static 'create.js' %}"></script>
    <title>Заказы на рецепт</title>
</head>
<body>

    <style>
        .themed-grid-col {
          padding-top: .3rem;
          padding-bottom: .3rem;
          background-color: rgba(86, 61, 124, .15);
          border: 1px solid rgba(86, 61, 124, .2);

        }

        .themed-grid-col-row {
          padding-top: .3rem;
          padding-bottom: .3rem;
          background-color: rgba(249, 236, 197, .5);
          border: 1px solid rgba(249, 236, 197, 1);

        }

    </style>

        <div class="container py-3" style="max-width: 95%">

            <h1 style="text-align: center; margin-top: -1rem;">Заявки на рецепт</h1>
            <div class="w-75" style="margin: auto; margin-bottom: 2%;">
                <a href="../add_recipeorder" id="create" class="btn btn-lg btn-success" style="width: 40%; float: left;">Добавить</a>
                <a href="/" id="main_menu" class="btn btn-lg btn-primary" style="width: 40%; transform: translate(50%, 0);">Главное меню</a>
            </div>

        {% if elements %}

            <div class="row">
              <div class="col-2 themed-grid-col" style="text-align: center">Дата</div>
              <div class="col-10 themed-grid-col" style="text-align: center">Контрагент / Продукция, № цвета / Количество / Комментарий</div>
            </div>

          {% for el in elements %}

            <div class="row">
              <div class="col-2 themed-grid-col-row" style="text-align: center">{{ el.created }}</div>
              <div class="col-9 themed-grid-col-row">{{ el.contractor_name }} / {{ el.end_product_name }} {{ el.end_product_text }}  {{ el.color_number }} / {{ el.quantity }} / {{ el.comments }}</div>
              {% if el.executed %}
                <a href="../view_recipe?id={{ el.recipe_id }}" class="col-1 themed-grid-col-row" style="text-align: center">Рецепт</a>
              {% else %}
                <div class="col-1 themed-grid-col-row" style="text-align: center"></div>
              {% endif %}
            </div>

          {% endfor %}

        {% else %}
            <h3 class="text-center" style="font-size: 2rem;">Нет заказов на рецепт</h3>
        {% endif %}

    </div>


</body>
</html>