<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Рецепт</title>
        {% load static %}
        <link rel="stylesheet" href="{%  static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{%  static 'recipes/style.css' %}">
        <link href="{% static 'dropdowns.css' %}" rel="stylesheet">
        <script src="{% static 'jquery.js' %}"></script>
        <script src="{% static 'create.js' %}?v=0011"></script>
        <script src="{% static 'recipes/leftovers.js' %}?v=0002"></script>

    </head>
    <body>
        <input type="text" id="requestid" style="display: none;" value="{{ requestid }}">
        <div class="container py-3" style="max-width: 100%">
            <div style="display: flex;">
                <h1>Рецепт</h1>
                <a href="#" onclick="checkoutRecipe()" id="checkout_order" class="btn btn-success" style="left: 70%;position: absolute;">Записать</a>
                <a href="/" id="main_menu" class="btn btn-lg btn-primary" style="transform: translate(-107%, 0px); position: absolute;left: 100%; width: max-content;">Главное меню</a>
            </div>

                <div style="width: 100%">
                    <input type="search" id="contractor" class="form-control" onkeyup="keyUpContractorL()" autocomplete="false" placeholder="Контрагент...">
                    <ul id="contractorsList" class="list-unstyled mb-0 dropdownscrolllist"></ul>
				</div>

                <div style="display: flex;">
                    <div style="float: left; width: 80%">
                        <div id="endProduct">
                            <input type="search" id="endProductFilter" class="form-control" onkeyup="keyUpEndProductFilter()" autocomplete="false" placeholder="Продукция из справочника...">
                            <ul id="goodsList" class="list-unstyled mb-0 dropdownscrolllist"></ul>
                        </div>
                        <div>
                            <input type="text" id="endProductText" style="float: left; width: 70%" class="form-control" autocomplete="false" placeholder="Продукция...">
                            <input type="text" id="colorNumber" style="width: 30%" class="form-control" autocomplete="false" placeholder="Номер цвета...">
                        </div>
                    </div>
                    <div style="width: 20%;">
                        <input type="number" id="endProductQuantity" class="form-control" style="height: 100%; width: 100%; float: left;" autocomplete="false" placeholder="Количество...">
                    </div>
                </div>

                <textarea class="py-2 form-control" rows="4" id="comment" placeholder="Комментарий"></textarea>

                <div id="products_menu" style="display: flex;">
                    <div id="add_tc" class="flex curpoint" onclick="addGoodItem();">
                        <img src="{%  static 'containerstatuses/plus.svg' %}" alt="" style="width: 2em;">
                    </div>
                    <h1 style="font-size: 24px;">Товары</h1>
                    <a href="#" onclick="reloadLeftovers();" id="reload" class="btn btn-success hidden" style="left: 75%;position: absolute;">Обновить остатки</a>
                    <a href="#" onclick="" id="loading" class="btn btn-primary" style="left: 75%;position: absolute;">Загружаем остатки</a>
                </div>
                <div id="goods">
                    <div id="gooditem" data-numstr="0">
                        <div style="float: left; width: 50%">
                            <input type="search" id="goodsFilter" class="form-control" onkeyup="keyUpGoodsFilterWOB(0)" autocomplete="false" placeholder="Номенклатура...">
                            <ul id="goodsList" class="list-unstyled mb-0 dropdownscrolllist"></ul>
                        </div>
                        <div style="float: left; width: 25%">
                            <input type="search" id="сharacteristicsFilter" class="form-control" onkeyup="keyUpCharactreristicWOB(0)" autocomplete="false" placeholder="Характеристика...">
                            <ul id="сharacteristicsList" class="list-unstyled mb-0 dropdownscrolllist"></ul>
                        </div>
                        <input type="number" id="goodsQuantity" class="form-control" style="width: 15%; float: left;" autocomplete="false" placeholder="Количество...">
                        <input readonly type="number" id="goodsLeftover" class="form-control" style="width: 5%; float: left;" autocomplete="false" placeholder="0">
                       <a href="#" onclick="delGoodItem(0)" id="checkout_order" class="btn btn-danger" style="width: 5%;">-</a>
                    </div>
                </div>


        </div>
    </body>
</html>